<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/launcher1"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/launcher1"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.Light.NoActionBar">
        <activity android:name="com.android.customview.view_config.ViewConfigActivity"></activity>
        <activity android:name="com.android.customview.slide_mothod.demo.ScrollerCase2Activity" />
        <activity android:name="com.android.customview.slide_mothod.demo.ScrollerCase1Activity" />
        <activity android:name="com.android.customview.slide_mothod.demo.ScrollerActivity" />
        <activity android:name="com.android.customview.slide_mothod.demo.AnimSlideActivity" />
        <activity android:name="com.android.customview.slide_mothod.demo.ScrollToOrByActivity" />
        <activity android:name=".customview.slide_mothod.demo.LayoutParamsActivity" />
        <activity android:name="com.android.customview.slide_mothod.demo.OffsetLTRBActivity" />
        <activity android:name="com.android.customview.slide_mothod.demo.LayoutSlideActivity" />
        <activity
            android:name=".supportlib.navigationview.TestNavigationActivity"
            android:label="@string/title_activity_test_navigation" />
        <activity
            android:name=".supportlib.navigationview.NavigationDrawerActivity"
            android:label="@string/title_activity_navigation_drawer" />
        <activity
            android:name="com.android.supportlib.sliding_pane_layout.SlidingPaneLayoutCase3Activity"
            android:theme="@style/DIY.SlideClose.Transparent.Theme" />
        <activity android:name="com.android.supportlib.swipe_refresh_layout.SwipeRefreshLayoutCase1Activity" />
        <activity android:name="com.android.supportlib.constraint.ConstraintCase1Activity" />
        <activity android:name="com.android.supportlib.constraint.ConstraintCase2Activity" />
        <activity android:name="com.android.supportlib.swipe_refresh_layout.SwipeRefreshLayoutActivity" />
        <activity android:name="com.android.supportlib.bottom_sheet_dialog.BottomSheetDialogActivity" />
        <activity android:name="com.android.supportlib.sliding_pane_layout.SlidingPaneLayoutActivity" />
        <activity android:name="com.android.supportlib.drawerlayout.DrawerLayoutActivity" />
        <activity android:name="com.android.supportlib.collapsing_toolbar_layout.CTLActivity" />
        <activity android:name="com.android.supportlib.snackbar.SnackBarActivity" />
        <activity
            android:name="com.android.supportlib.textinput.TextInputActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity android:name="com.android.supportlib.fab.FABActivity" />
        <activity android:name="com.android.supportlib.nestedsv.NestedSVCase1Activity" />
        <activity android:name="com.android.supportlib.nestedsv.NestedScrollViewActivity" />
        <activity android:name="com.android.draw.ShadowActivity" />
        <activity android:name="com.android.supportlib.coordinate.CoordinateActivity" />
        <activity android:name="com.android.supportlib.recyclerview.StudyRVActivity" />
        <activity android:name="com.android.supportlib.recyclerview.RVAnimActivity" />
        <activity android:name="com.android.supportlib.recyclerview.MoreSnapActivity" />
        <activity android:name="com.android.supportlib.recyclerview.HLActivity" />
        <activity android:name="com.android.supportlib.recyclerview.RVTest4Activity" />
        <activity android:name="com.android.customview.drag.Case4Activity" />
        <activity android:name="com.android.customview.drag.Case3Activity" />
        <activity android:name="com.android.fragment.case3.Case3Activity" />
        <activity android:name="com.android.fragment.case2.Case2Activity" />
        <activity android:name="com.android.fragment.case1.TestActivity" />
        <activity android:name="com.android.draw.canvas.NewPathActivity" />
        <activity android:name="com.android.draw.canvas.CanvasActivity" />
        <activity android:name="com.android.anim.PropertyAnimActivity" />
        <activity android:name="com.android.anim.PatchAnimActivity" />
        <activity android:name="com.android.anim.FrameAnimActivity" />
        <activity android:name="com.android.systemui.test.WV4Activity" />
        <activity android:name="com.android.systemui.test.WV3Activity" />
        <activity android:name="com.android.systemui.test.WV2Activity" />
        <activity android:name="com.android.systemui.test.WV1Activity" />
        <activity android:name="com.android.systemui.test.SV1Activity" />
        <activity android:name="com.android.systemui.test.ET3Activity" />
        <activity
            android:name="com.android.systemui.test.ET2Activity"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.android.systemui.test.ET1Activity"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity android:name="com.android.supportlib.constraint.ConstraintActivity" />
        <activity android:name="com.android.systemui.TextureViewActivity" />
        <activity android:name="com.android.systemui.WebViewActivity" />
        <activity
            android:name="com.android.systemui.EditTextActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity android:name="com.android.systemui.SurfaceViewActivity" />
        <activity android:name="com.android.systemui.ImageViewActivity" />
        <activity android:name="com.android.systemui.ScrollViewActivity" />
        <activity android:name="com.android.systemui.TextViewActivity" />
        <activity android:name="com.android.systemui.SystemUIActivity" />
        <activity android:name="com.android.MainActivity" />
        <activity android:name="com.android.draw.HuiTuActivity" />
        <activity android:name="com.android.draw.BaseKnowledgeActivity" />
        <activity android:name="com.android.draw.paint.PaintPropertyActivity" />
        <activity android:name="com.android.draw.paint.XfermodeActivity" />
        <activity android:name="com.android.draw.paint.PaintTextActivity" />
        <activity android:name="com.android.ImageViewerActivity" />
        <activity
            android:name="com.android.draw.canvas.GeometryActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.android.draw.canvas.PathActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity android:name="com.android.supportlib.SupportLibUIActivity" />
        <activity android:name="com.android.supportlib.recyclerview.RecyclerViewActivity" />
        <activity android:name="com.android.supportlib.recyclerview.test.SnapHelperActivity" />
        <activity android:name="com.android.supportlib.viewpager.ViewPagerActivity" />
        <activity android:name="com.android.systemui.test.WV5Activity" />
        <activity android:name="com.android.anim.AnimActivity" />
        <activity android:name="com.android.anim.InterpolatorActivity" />
        <activity android:name="com.android.anim.SecondActivity" />
        <activity android:name="com.android.anim.FragmentTransitionActivity" />
        <activity android:name="com.android.anim.RVActivity" />
        <activity android:name="com.android.IntroActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.android.gesture.GestureActivity" />
        <activity android:name="com.android.gesture.GestureListenerActivity" />
        <activity android:name="com.android.gesture.DownCloseActivity" />
        <activity android:name="com.android.gesture.NewActivity" />
        <activity android:name="com.android.gesture.DoubleTapListenerActivity" />
        <activity android:name="com.android.gesture.DragImageActivity" />
        <activity android:name="com.android.gesture.MatrixActivity" />
        <activity android:name="com.android.test.TestVPActivity" />
        <activity android:name="com.android.gesture.ScaleGestureDetectorActivity" />
        <activity android:name="com.android.gesture.VelocityTrackerActivity" />
        <activity android:name="com.android.gesture.view.DragActivity" />
        <activity android:name="com.android.gesture.CaseGestureDragActivity" />
        <activity android:name="com.android.gesture.RotateImageActivity" />
        <activity android:name="com.android.gesture.ImageScaleActivity" />
        <activity android:name="com.android.fragment.MyFragmentActivity" />
        <activity android:name="com.android.supportlib.recyclerview.RVTest1Activity" />
        <activity android:name="com.android.supportlib.recyclerview.RVTest0Activity" />
        <activity android:name="com.android.supportlib.recyclerview.RVTest2Activity" />
        <activity android:name="com.android.supportlib.recyclerview.RVTest3Activity" />
        <activity android:name="com.android.customview.CustomViewActivity" />
        <activity android:name="com.android.customview.drag.ViewDragHelperActivity" />
        <activity android:name="com.android.customview.drag.Case1Activity" />
        <activity android:name="com.android.customview.drag.Case2Activity" />
        <activity android:name="com.android.supportlib.cardview.CardViewActivity" />
        <activity android:name="com.android.supportlib.toolbar.ToolbarActivity" />
        <activity android:name="com.android.kotlin.KotlinStudyActivity" />
        <activity android:name="com.android.kotlin.ReflectActivity" />
        <activity android:name="com.android.rxjava.RXJavaActivity" />
        <activity android:name="com.android.supportlib.snackbar.SnackBarCase1Activity" />
        <activity android:name="com.android.supportlib.drawerlayout.DrawerLayoutCase1Activity" />
        <activity android:name="com.android.supportlib.drawerlayout.DrawerLayoutCase2Activity" />
        <activity android:name="com.android.supportlib.sliding_pane_layout.SlidingPaneLayoutCase1Activity" />
        <activity android:name="com.android.supportlib.sliding_pane_layout.SlidingPaneLayoutCase2Activity" />
        <activity android:name="com.android.customview.slide_mothod.ViewSlideMethodActivity" />
        <activity android:name="com.android.customview.event.EventActivity" />
        <activity android:name=".customview.function_read.FunctionReadActivity" />
        <activity android:name="com.android.customview.view_study.ViewActivity" />
        <activity android:name="com.android.customview.measure_layout.MeasureLayoutActivity" />
    </application>

</manifest>