<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="com.kotlinlib.activity.KotlinApplication"
        android:allowBackup="true"
        android:icon="@mipmap/launcher1"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/launcher1"
        android:supportsRtl="true"
        android:testOnly="true"
        android:theme="@style/Theme.Design.Light.NoActionBar">
        <activity android:name=".customview.smart_refresh_layout.SmartRefreshLayoutActivity"></activity>
        <activity android:name=".systemui.textview.TextViewExtendActivity" />
        <activity android:name=".systemui.imageview.cicleimageview.CircleImageViewCase1Activity" />
        <activity android:name=".systemui.imageview.ImageViewExtendActivity" />
        <activity android:name=".systemui.scrollview.SV3Activity" />
        <activity android:name=".systemui.scrollview.SV2Activity" />
        <activity android:name=".fragment.fragmentation.case9.FragmentationCase9Activity" />
        <activity android:name=".fragment.fragmentation.case8.FragmentationCase8Activity" />
        <activity android:name=".fragment.fragmentation.case7.FragmentationCase7Activity" />
        <activity android:name=".fragment.fragmentation.case6.FragmentationCase6Activity" />
        <activity android:name=".fragment.fragmentation.case5.FragmentationCase5Activity" />
        <activity android:name=".fragment.fragmentation.case4.FragmentationCase4Activity" />
        <activity android:name=".fragment.fragmentation.case3.FragmentationCase3Activity" />
        <activity android:name=".fragment.fragmentation.case2.FragmentationCase2Activity" />
        <activity android:name=".fragment.fragmentation.case1.FragmentationCase1Activity" />
        <activity android:name=".fragment.fragmentation.FragmentationActivity" />
        <activity android:name=".anim.transitions_everywhere.TransitionsEverywhereActivity" />
        <activity android:name=".supportlib.coordinate.case0.CoordinateCase0_4Activity" />
        <activity android:name=".supportlib.coordinate.case0.CoordinateCase0_3Activity" />
        <activity android:name=".supportlib.coordinate.case0.CoordinateCase0_2Activity" />
        <activity android:name=".supportlib.coordinate.case0.CoordinateCase0_1Activity" />
        <activity android:name=".supportlib.coordinate.CoordinateCase0Activity" />
        <activity android:name=".supportlib.collapsing_toolbar_layout.CTLCase1Activity" />
        <activity android:name=".supportlib.coordinate.CoordinateCase3Activity" />
        <activity android:name=".supportlib.coordinate.CoordinateCase2Activity" />
        <activity android:name=".supportlib.coordinate.CoordinateCase1Activity" />
        <activity android:name=".anim.EasyAndroidAnimations" />
        <activity android:name=".anim.SVGAnimActivity" />
        <activity android:name=".systemui.status_bar.StatusBarActivity" />
        <activity android:name=".systemui.popupwindow.PopupWindowActivity" />
        <activity android:name=".customview.view_config.ViewConfigActivity" />
        <activity android:name=".customview.slide_mothod.demo.ScrollerCase2Activity" />
        <activity android:name=".customview.slide_mothod.demo.ScrollerCase1Activity" />
        <activity android:name=".customview.slide_mothod.demo.ScrollerActivity" />
        <activity android:name=".customview.slide_mothod.demo.AnimSlideActivity" />
        <activity android:name=".customview.slide_mothod.demo.ScrollToOrByActivity" />
        <activity android:name=".customview.slide_mothod.demo.OffsetLTRBActivity" />
        <activity android:name=".customview.slide_mothod.demo.LayoutSlideActivity" />
        <activity
            android:name=".supportlib.sliding_pane_layout.SlidingPaneLayoutCase3Activity"
            android:theme="@style/DIY.SlideClose.Transparent.Theme" />
        <activity android:name=".supportlib.swipe_refresh_layout.SwipeRefreshLayoutCase1Activity" />
        <activity android:name=".supportlib.constraint.ConstraintCase1Activity" />
        <activity android:name=".supportlib.constraint.ConstraintCase2Activity" />
        <activity android:name=".supportlib.swipe_refresh_layout.SwipeRefreshLayoutActivity" />
        <activity android:name=".supportlib.bottom_sheet_dialog.BottomSheetDialogActivity" />
        <activity android:name=".supportlib.sliding_pane_layout.SlidingPaneLayoutActivity" />
        <activity android:name=".supportlib.drawerlayout.DrawerLayoutActivity" />
        <activity android:name=".supportlib.collapsing_toolbar_layout.CTLActivity" />
        <activity android:name=".supportlib.snackbar.SnackBarActivity" />
        <activity
            android:name=".supportlib.textinput.TextInputActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity android:name=".supportlib.fab.FABActivity" />
        <activity android:name=".supportlib.nestedsv.NestedSVCase1Activity" />
        <activity android:name=".supportlib.nestedsv.NestedScrollViewActivity" />
        <activity android:name=".draw.ShadowActivity" />
        <activity android:name=".supportlib.coordinate.CoordinateActivity" />
        <activity android:name=".supportlib.recyclerview.StudyRVActivity" />
        <activity android:name=".supportlib.recyclerview.RVAnimActivity" />
        <activity android:name=".supportlib.recyclerview.MoreSnapActivity" />
        <activity android:name=".supportlib.recyclerview.HLActivity" />
        <activity android:name=".supportlib.recyclerview.RVTest4Activity" />
        <activity android:name=".customview.drag.Case4Activity" />
        <activity android:name=".customview.drag.Case3Activity" />
        <activity android:name=".fragment.case3.Case3Activity" />
        <activity android:name=".fragment.case2.Case2Activity" />
        <activity android:name=".fragment.case1.TestActivity" />
        <activity android:name=".draw.canvas.NewPathActivity" />
        <activity android:name=".draw.canvas.CanvasActivity" />
        <activity android:name=".anim.PropertyAnimActivity" />
        <activity android:name=".anim.PatchAnimActivity" />
        <activity android:name=".anim.FrameAnimActivity" />
        <activity android:name=".systemui.webview.WV4Activity" />
        <activity android:name=".systemui.webview.WV3Activity" />
        <activity android:name=".systemui.webview.WV2Activity" />
        <activity android:name=".systemui.webview.WV1Activity" />
        <activity android:name=".systemui.scrollview.SV1Activity" />
        <activity android:name=".systemui.edittext.ET3Activity" />
        <activity
            android:name=".systemui.edittext.ET2Activity"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".systemui.edittext.ET1Activity"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity android:name=".supportlib.constraint.ConstraintActivity" />
        <activity android:name=".systemui.textureview.TextureViewActivity" />
        <activity android:name=".systemui.webview.WebViewActivity" />
        <activity
            android:name=".systemui.edittext.EditTextActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity android:name=".systemui.surfaceview.SurfaceViewActivity" />
        <activity android:name=".systemui.imageview.ImageViewActivity" />
        <activity android:name=".systemui.scrollview.ScrollViewActivity" />
        <activity android:name=".systemui.textview.TextViewActivity" />
        <activity android:name=".systemui.SystemUIActivity" />
        <activity android:name=".common.MainActivity" />
        <activity android:name=".draw.HuiTuActivity" />
        <activity android:name=".draw.BaseKnowledgeActivity" />
        <activity android:name=".draw.paint.PaintPropertyActivity" />
        <activity android:name=".draw.paint.XfermodeActivity" />
        <activity android:name=".draw.paint.PaintTextActivity" />
        <activity android:name=".common.ImageViewerActivity" />
        <activity
            android:name=".draw.canvas.GeometryActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".draw.canvas.PathActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity android:name=".supportlib.SupportLibUIActivity" />
        <activity android:name=".supportlib.recyclerview.RecyclerViewActivity" />
        <activity android:name=".supportlib.recyclerview.test.SnapHelperActivity" />
        <activity android:name=".supportlib.viewpager.ViewPagerActivity" />
        <activity android:name=".systemui.webview.WV5Activity" />
        <activity android:name=".anim.AnimActivity" />
        <activity android:name=".anim.InterpolatorActivity" />
        <activity android:name=".anim.SecondActivity" />
        <activity android:name=".anim.FragmentTransitionActivity" />
        <activity android:name=".anim.RVActivity" />
        <activity android:name=".common.IntroActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".gesture.GestureActivity" />
        <activity android:name=".gesture.GestureListenerActivity" />
        <activity android:name=".gesture.DownCloseActivity" />
        <activity android:name=".gesture.NewActivity" />
        <activity android:name=".gesture.DoubleTapListenerActivity" />
        <activity android:name=".gesture.DragImageActivity" />
        <activity android:name=".gesture.MatrixActivity" />
        <activity android:name=".customview.event.case1.TestVPActivity" />
        <activity android:name=".gesture.ScaleGestureDetectorActivity" />
        <activity android:name=".gesture.VelocityTrackerActivity" />
        <activity android:name=".gesture.view.DragActivity" />
        <activity android:name=".gesture.CaseGestureDragActivity" />
        <activity android:name=".gesture.RotateImageActivity" />
        <activity android:name=".gesture.ImageScaleActivity" />
        <activity android:name=".fragment.MyFragmentActivity" />
        <activity android:name=".supportlib.recyclerview.RVTest1Activity" />
        <activity android:name=".supportlib.recyclerview.RVTest0Activity" />
        <activity android:name=".supportlib.recyclerview.RVTest2Activity" />
        <activity android:name=".supportlib.recyclerview.RVTest3Activity" />
        <activity android:name=".customview.CustomViewActivity" />
        <activity android:name=".customview.drag.ViewDragHelperActivity" />
        <activity android:name=".customview.drag.Case1Activity" />
        <activity android:name=".customview.drag.Case2Activity" />
        <activity android:name=".supportlib.cardview.CardViewActivity" />
        <activity android:name=".supportlib.toolbar.ToolbarActivity" />
        <activity android:name=".kotlin.KotlinStudyActivity" />
        <activity android:name=".kotlin.ReflectActivity" />
        <activity android:name=".rxjava.RXJavaActivity" />
        <activity android:name=".supportlib.snackbar.SnackBarCase1Activity" />
        <activity android:name=".supportlib.drawerlayout.DrawerLayoutCase1Activity" />
        <activity android:name=".supportlib.drawerlayout.DrawerLayoutCase2Activity" />
        <activity android:name=".supportlib.sliding_pane_layout.SlidingPaneLayoutCase1Activity" />
        <activity android:name=".supportlib.sliding_pane_layout.SlidingPaneLayoutCase2Activity" />
        <activity android:name=".customview.slide_mothod.ViewSlideMethodActivity" />
        <activity android:name=".customview.event.EventActivity" />
        <activity android:name=".customview.view_study.ViewActivity" />
        <activity android:name=".customview.measure_layout.MeasureLayoutActivity" />
        <activity android:name=".customview.drag.Case5Activity" />
        <activity android:name=".draw.xml.ShapeActivity" />
        <activity android:name=".draw.xml.XMLDrawActivity" />
        <activity android:name=".draw.xml.LayerActivity" />
        <activity android:name=".draw.xml.BitmapActivity" />
        <activity android:name=".systemui.textureview.TextureViewCase1Activity" />
        <activity android:name=".customview.event.case2.EventCase2Activity" />
        <activity android:name=".customview.case_scrollerlayout.ScrollerLayoutActivity" />
        <activity android:name=".bitmap.BitmapActivity"></activity>
    </application>

</manifest>