<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.androidui">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".huitu.HuiTuActivity" />
        <activity android:name=".huitu.BaseKnowledgeActivity" />
        <activity android:name=".huitu.paint.PaintPropertyActivity" />
        <activity android:name=".huitu.paint.XfermodeActivity" />
        <activity android:name=".huitu.paint.PaintTextActivity" />
        <activity android:name=".ImageViewerActivity" />
        <activity
            android:name=".huitu.canvas.GeometryActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".huitu.canvas.PathActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity android:name=".supportlib.SupportLibUIActivity" />
        <activity android:name=".supportlib.RecyclerViewActivity"></activity>
    </application>

</manifest>